<div class="featureditem-inner">
    <img src="<%= fullsize %>" />
    <ul>
        <li><a class="featureditem-prev" href="<%= displayurl %>i<%= prev %>">Prev</a></li>
        <li><a class="featureditem-next" href="<%= displayurl %>i<%= next %>">Next</a></li>
    </ul>
</div>