// =============================================================================
// Header
// =============================================================================

.hd-main {
	.hd-main-home {
		img{
			max-width: 100%;
		}
	}
	@media @mobileOnly {
		width: 57px;
		padding: 5px 10px 5px;
	}
}


// Mobile ===================================================================

@media @mobileOnly {
	.hd-main {
		.hd-main-home {
			
		}
		.hd-main-shownav {
			position:absolute;
			top:22px;
			right:10px;
			width:20px;
			height:10px;
			padding:9px 6px;
			background-image:url(img/icon-menu.svg);
			background-position:50% 50%;
			background-size:70% auto;
			background-repeat:no-repeat;
			border:1px solid #333;
			text-indent:-9999px;
			border-radius:2px;
		}
	}
}

