<a href="<%= currentUrl %>i<%= id %>">
    <figure class="is-hidden">
        <img src="<%= thumbnail %>" />
        <figcaption>
            <p class="thumbnail-title"><%= title %></p>
            <p class="thumbnail-desc"><%= description %></p>
        </figcaption>
    </figure>
</a>