.featuredimage{
	clear: both;
	margin-bottom: 3px;
	height: 363px;
	position: relative;
	@media (min-width: 769px){
		height: 606px;
	}
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait) {
		height: 606px;
	}
	figure{
		display: inline-block;
		position: relative;
		.opacity( 1 );
		.transition(~"opacity 0.2s ease-out");
		img{
			max-height: 100%;
		}
		figcaption{
			border-top: 1px #fff solid;
			border-bottom: 1px #fff solid;
			width: 150px;
			padding: 2px 0;
			@media only screen and (min-width: 769px){
				top: 598px;
			}
			@media only screen and (max-width: 768px){
				top: 472px;
			}
			@media @desktopUp{
				left: 20px;
				position: fixed;
				.featuredimage-return{
					position: absolute;
					right: 0;
					top: -35px;
					.opacity( 1 );
					cursor: pointer;
					.transition(~"opacity 0.2s ease-out");
					img{
						height: auto;
					}
					&.is-hidden{
						.opacity( 0 );
					}
				}
			}
			p{
				font-size: 13px;
				margin: 0;
				line-height: 1em;
				&.featuredimage-title{
					font-size: 14px;
					text-transform:uppercase;
				}
				&.featuredimage-desc{
					font-style: italic;
				}
			}
			
		}
		&.is-hidden{
			.opacity( 0 );
		}
	}
	.featureimage-control{
		width: 100%;
		height: 35px;
		position: absolute;
		top: 0;
		text-indent: -2000em;
		height: 100%;
		&.right{
			right: 0;
		}
		&.left{
			display: none;
		}
	}
}