// =============================================================================
// Main navigation
// =============================================================================

.nav-main, .nav-secondary {
	z-index:20;
	width:100%;
	left:auto;
	top:20px;
	ul {
		position:relative;
		li {
			line-height: 1em;
			padding-bottom: 10px;
			
			overflow: hidden;
			a {
				color:#fff;
				font-size:14px;
				text-transform:uppercase;
				&:hover{
					color: #e9266a;
				}
			}
			ul{
				.transition(~"height 0.2s ease-out");
				li{
					padding: 0;
					a{
						font-size:13px;
						text-transform:lowercase;
						font-style: italic;
					}
				}
			}
			button{
				background: none;
				text-indent: -2000em;
				border: 0;
				margin: 0;
				padding: 0;
			}
			@media @mobileOnly{
				padding: 5px 10px 10px;
				
					text-align: right;
				ul{
					li{
						padding: 10px 0 3px;
					}
				}
			}
		}
		@media @mobileOnly{
			padding-bottom: 5px;
		}
	}
	@media @mobileOnly{
		margin: 0px auto 0px;
	}
	@media @desktopUp{
		font-size:2.0em;
		padding: 80px 0 0 20px;
	}
}


	.nav-main, .nav-secondary {
		height: auto;
		overflow: hidden;
		.transition(~"height 0.2s ease-out");
		&.is-hidden{
			@media @mobileOnly{
				height: 0;
			}
		}
		ul{
			overflow: hidden;
			li{
				button{
					width: 0; 
					height: 0; 
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid #fff;
					margin-left: 15px;
					margin-bottom: 3px;
				}
				ul{
					height: 0;
				}
				&.active{
					button{
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 5px solid #fff;
						border-top: none;
					}
					ul{
						height: auto;
						li{
							a{
								color: #fff;
								
								&:hover{
									color: #e9266a;
								}
							}
							&.active{
								a{
									color: #e9266a;
								}
							}
						}
					}
					a{
						color: #e9266a;
					}
				}
				&.softselected{
					a{
						color: #e9266a;
					}
					ul{
						a{
							color: #fff;
						}
						&.softselected{
							a{
								color: #e9266a;
							}
						}
					}
				}
			}
		}
	}


	.nav-secondary{
		@media @desktopUp{
			padding: 40px 0 0 20px;
		}
	}
// Mobile ===================================================================

