.thumbnail-loading{
	margin-bottom: 3px;
	position: relative;
	background: url( /assets/css/img/scroll-down.gif ) left 20px no-repeat;
	width: 100%;
	height: 200px;
	&.is-hidden{
		.opacity( 0 );
	}
	@media @desktopUp{
		float: left;
		
	}
}

.is-loading{
	padding-bottom: 40px;
	background: url( img/ajax-loader.gif ) center bottom no-repeat;
	width: 100%;
	overflow: hidden;
}

.thumbnail{
	margin-bottom: 3px;
	&.selected{
		a{
			figure{
				.opacity( 1 );
			}
		}
	}
	a{
		figure{
			margin-right: 3px;
			position: relative;
			.opacity( 0.9 );
			.transition(~"opacity 0.2s ease-out");
			
			img{
				max-width: 100%;
				@media @mobileOnly{
					display: block;
					margin: 0 auto;
				}
			}
			figcaption{
				border-top: 1px #fff solid;
				border-bottom: 1px #fff solid;
				@media @mobileOnly{
					margin-top: 10px;
					padding: 3px 0;
				}
				@media @desktopUp{
					margin: 4px;
					position: absolute;
					bottom: 0px;
					width: 154px;
					.opacity(0);
					.transition(~"opacity 0.4s ease-out");
				}
			}
			&.is-hidden{
				.opacity( 0 );
			}
		}
		&:hover{
			figure{
				.opacity(100);
				figcaption{
					@media @desktopUp{
						.opacity(100)
					}
				}
			}
		}
	}
	p{
		font-size: 1.6em;
		margin: 0;
		line-height: 1em;
	}
	.thumbnail-title{
		font-size: 14px;
		text-transform:uppercase;
		padding-top: 2px;
	}
	.thumbnail-desc{
		font-size: 13px;
		font-style: italic;
		padding-bottom: 2px;
	}
	@media @mobileOnly{
		padding: 10px 10px 0;
		background: url( img/ajax-loader.gif ) center center no-repeat;
	}
	@media @desktopUp{
		float: left;
		width: 163px;
		height: 200px;
	}
}