html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
body {
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
* {
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Gill Sans";
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
  text-align: left;
}
p {
  font-family: "Gill Sans";
  font-size: 1.3em;
  margin-bottom: 1.25em;
  color: #fff;
  text-align: left;
}
p em,
p a {
  text-decoration: underline;
}
p a:hover {
  color: #00c4fe;
}
ul,
ol,
small {
  font-family: "Gill Sans";
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
}
em {
  font-style: normal;
}
small {
  font-size: 85%;
}
@media screen and (min-device-width: 0px) and (max-device-width: 499px) {
  p {
    font-size: 1.5em;
  }
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-size: 62.5%;
  position: relative;
  overflow-x: hidden;
  background: black;
}
.cnt-mast {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
@media screen and (min-device-width: 0px) and (max-device-width: 499px) {
  .cnt-mast {
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  .cnt-mast {
    padding: 25px 8px 15px 15px;
  }
}
@media screen and (min-width: 500px) {
  .cnt-main {
    margin-left: 177px;
    padding-top: 25px;
    padding-right: 15px;
    min-width: 490px;
  }
}
.hd-main .hd-main-home img {
  max-width: 100%;
}
@media screen and (min-device-width: 0px) and (max-device-width: 499px) {
  .hd-main {
    width: 77px;
    padding: 10px;
    margin: 0 auto;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 499px) {
  .hd-main .hd-main-shownav {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 42px;
    height: 36px;
    padding: 9px 6px;
    background-image: url(img/icon-menu.svg);
    background-position: 50% 50%;
    background-size: 80% auto;
    background-repeat: no-repeat;
    border: 1px solid #333;
    text-indent: -9999px;
    border-radius: 2px;
  }
}
.ft-main {
  margin: 0px auto;
  text-align: left;
  padding-left: 36px;
  position: relative;
}
.ft-main .ft-main-artscouncil {
  display: inline-block;
  width: 247px;
  height: 53px;
  background-image: url(img/arts-council.png);
  background-size: 100%;
  text-indent: -9999px;
}
.ft-main .ft-main-social {
  width: 70%;
  position: absolute;
  right: 36px;
  top: 0;
  font-size: 1.4em;
}
.ft-main .ft-main-social li {
  float: right;
  margin-left: 15px;
  text-transform: uppercase;
  font-family: "AkkuratBold";
}
.ft-main .ft-main-social li a {
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 27px 26px;
  display: inline-block;
  line-height: 27px;
  color: #fff;
}
.ft-main .ft-main-social li a.southbank {
  display: none;
}
.ft-main .ft-main-social li a.twitter {
  background-image: url(img/icon-twitter-colour.png);
  padding-right: 36px;
}
.ft-main .ft-main-social li a.facebook {
  background-image: url(img/icon-facebook-colour.png);
  padding-right: 36px;
}
.ft-main .ft-main-social li a:hover {
  text-decoration: underline;
}
.ft-main .ft-main-legal {
  font-size: 1.1em;
  color: #fff;
  text-align: right;
  position: absolute;
  right: 36px;
  top: 42px;
  width: 50%;
  font-family: AkkuratBold;
}
@media screen and (min-device-width: 0px) and (max-device-width: 499px) {
  .ft-main {
    padding-left: 5%;
  }
  .ft-main .ft-main-artscouncil {
    position: static;
  }
  .ft-main .ft-main-social {
    width: 90%;
    padding-top: 24px;
    position: static;
  }
  .ft-main .ft-main-social li {
    margin-left: 0;
    float: none;
    margin-bottom: 12px;
  }
  .ft-main .ft-main-social li a {
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .ft-main .ft-main-social li a.southbank {
    display: block;
  }
  .ft-main .ft-main-social li a.twitter,
  .ft-main .ft-main-social li a.facebook {
    padding-left: 36px;
  }
  .ft-main .ft-main-legal {
    width: 90%;
    position: static;
  }
}
@media screen and (min-width: 500px) {
  .ft-main {
    width: 952px;
    padding-left: 0;
  }
  .ft-main .ft-main-legal {
    width: 60%;
    right: 0;
  }
  .ft-main .ft-main-social {
    right: 0;
  }
}
.nav-main {
  z-index: 20;
  width: 100%;
  left: auto;
  top: 20px;
}
.nav-main ul {
  position: relative;
}
.nav-main ul li {
  line-height: 1em;
  padding-bottom: 10px;
  overflow: hidden;
}
.nav-main ul li a {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}
.nav-main ul li ul {
  -webkit-transition: height 0.2s ease-out;
  -moz-transition: height 0.2s ease-out;
  -o-transition: height 0.2s ease-out;
  -ms-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}
.nav-main ul li ul li {
  padding: 0;
}
.nav-main ul li ul li a {
  font-size: 16px;
  text-transform: lowercase;
  font-style: italic;
}
.nav-main ul li button {
  background: none;
  text-indent: -2000em;
  border: 0;
  margin: 0;
  padding: 0;
}
@media screen and (min-device-width: 0px) and (max-device-width: 499px) {
  .nav-main ul li {
    text-align: center;
    padding: 5px 0;
  }
  .nav-main ul li ul {
    -webkit-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6;
  }
}
@media screen and (min-device-width: 0px) and (max-device-width: 499px) {
  .nav-main {
    margin: 0 auto;
  }
}
@media screen and (min-width: 500px) {
  .nav-main {
    font-size: 2.0em;
    padding: 80px 0 0 0;
  }
}
.nav-main ul {
  overflow: hidden;
}
.nav-main ul li button {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  margin-left: 15px;
  margin-bottom: 3px;
}
.nav-main ul li ul {
  height: 0;
}
.nav-main ul li.selected button {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  border-top: none;
}
.nav-main ul li.selected ul {
  height: auto;
}
.nav-main ul li.selected ul li a {
  color: #fff;
}
.nav-main ul li.selected ul li.selected a {
  color: #e9266a;
}
.nav-main ul li.selected a {
  color: #e9266a;
}
.nav-main ul li.softselected a {
  color: #e9266a;
}
.nav-main ul li.softselected ul a {
  color: #fff;
}
.nav-main ul li.softselected ul.softselected a {
  color: #e9266a;
}
.thumbnail-loading {
  margin-bottom: 3px;
  position: relative;
}
.thumbnail-loading img {
  position: absolute;
  top: 40%;
  left: 33%;
}
.thumbnail-loading.is-hidden {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
@media screen and (min-width: 500px) {
  .thumbnail-loading {
    float: left;
    width: 163px;
    height: 200px;
  }
}
.thumbnail {
  margin-bottom: 3px;
}
.thumbnail.selected a figure {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.thumbnail a figure {
  margin-right: 3px;
  position: relative;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.thumbnail a figure img {
  max-width: 100%;
}
.thumbnail a figure figcaption {
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
}
@media screen and (min-device-width: 0px) and (max-device-width: 499px) {
  .thumbnail a figure figcaption {
    margin-top: 4px;
  }
}
@media screen and (min-width: 500px) {
  .thumbnail a figure figcaption {
    margin: 4px;
    position: absolute;
    bottom: 0px;
    width: 154px;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-out;
    -moz-transition: opacity 0.4s ease-out;
    -o-transition: opacity 0.4s ease-out;
    -ms-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out;
  }
}
.thumbnail a figure.is-hidden {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
@media screen and (min-width: 500px) {
  .thumbnail a:hover figure figcaption {
    -webkit-opacity: 100;
    -moz-opacity: 100;
    opacity: 100;
  }
}
.thumbnail p {
  font-size: 1.6em;
  margin: 0;
  line-height: 1em;
}
.thumbnail .thumbnail-title {
  font-size: 17px;
  text-transform: uppercase;
}
.thumbnail .thumbnail-desc {
  font-size: 16px;
  font-style: italic;
  text-transform: lowercase;
}
@media screen and (min-device-width: 0px) and (max-device-width: 499px) {
  .thumbnail {
    padding: 90px 10px 20px;
  }
}
@media screen and (min-width: 500px) {
  .thumbnail {
    float: left;
    width: 163px;
  }
}
.featuredimage {
  clear: both;
  margin-bottom: 3px;
  height: 606px;
  position: relative;
}
.featuredimage figure {
  display: inline-block;
  position: relative;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  -ms-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}
.featuredimage figure figcaption {
  border-top: 1px #fff solid;
  border-bottom: 1px #fff solid;
  width: 150px;
  padding: 2px 0;
}
@media screen and (min-width: 500px) {
  .featuredimage figure figcaption {
    left: 20px;
    top: 592px;
    position: fixed;
  }
  .featuredimage figure figcaption .featuredimage-return {
    position: absolute;
    right: 0;
    top: -35px;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    cursor: pointer;
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
  }
  .featuredimage figure figcaption .featuredimage-return.is-hidden {
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
}
.featuredimage figure figcaption p {
  font-size: 16px;
  margin: 0;
  line-height: 1em;
}
.featuredimage figure figcaption p.featuredimage-title {
  font-size: 17px;
  text-transform: uppercase;
}
.featuredimage figure figcaption p.featuredimage-desc {
  font-style: italic;
  text-transform: lowercase;
}
.featuredimage figure.is-hidden {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.featuredimage .featureimage-control {
  width: 30%;
  height: 35px;
  position: absolute;
  top: 0;
  text-indent: -2000em;
  height: 100%;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
.featuredimage .featureimage-control.right {
  background: url(img/icon-right.png ) 80% center no-repeat;
  right: 0;
}
.featuredimage .featureimage-control.left {
  background: url(img/icon-left.png ) 20% center no-repeat;
  left: 0;
}
.featuredimage .featureimage-control:hover {
  -webkit-opacity: 100;
  -moz-opacity: 100;
  opacity: 100;
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
