    <figure class="<%=hiddenClass %>">
        
        <%= prev %>
        <%= next %>
        
        <img src="<%= fullsize %>" />
        <figcaption>
            <div id="js-fireturn--up" class="featuredimage-return is-hidden"><img src="/assets/css/img/scroll-up__sm.gif" /></div>
            <div id="js-fireturn--down" class="featuredimage-return is-hidden" href="#"><img src="/assets/css/img/scroll-down__sm.gif" /></div>
            <p class="featuredimage-title"><%= title %></p>
            <p class="featuredimage-desc"><%= description %></p>
        </figcaption>
    </figure>