.featuredimage{
	clear: both;
	margin-bottom: 3px;
	height: 606px;
	position: relative;
	figure{
		display: inline-block;
		position: relative;
		figcaption{
			border-top: 1px #fff solid;
			border-bottom: 1px #fff solid;
			width: 150px;
			padding: 2px 0;
			
			@media @desktopUp{
				left: 20px;
				top: 592px;
				position: fixed;
				.featuredimage-return{
					position: absolute;
					right: 0;
					top: -35px;
					&.is-hidden{
						.opacity( 0 );
					}
				}
			}
			p{
				font-size: 16px;
				margin: 0;
				line-height: 1em;
				&.featuredimage-title{
					font-size: 17px;
					text-transform:uppercase;
				}
				&.featuredimage-desc{
					font-style: italic;
					text-transform:lowercase;
				}
			}
			
		}
	}
	.featureimage-control{
		width: 30%;
		height: 35px;
		position: absolute;
		top: 0;
		text-indent: -2000em;
		height: 100%;
		.opacity(0);
		.transition(~"opacity 0.4s ease-out");
		&.right{
			background: url( img/icon-right.png ) 80% center no-repeat;
			right: 0;
		}
		&.left{
			background: url( img/icon-left.png ) 20% center no-repeat;
			left: 0;
		}
		&:hover{
			.opacity(100);
		}
	}
}