// =============================================================================
// Main navigation
// =============================================================================

.nav-main {
	z-index:20;
	width:100%;
	left:auto;
	top:20px;
	ul {
		position:relative;
		margin:0px auto 20px;
		li {
			line-height: 1em;
			a {
				color:#fff;
				font-size:17px;
				text-transform:uppercase;
				.transition(~"padding-left 0.4s ease-out");
			}
			ul{
				li{
					a{
						font-size:16px;
						text-transform:lowercase;
						font-style: italic;
					}
				}
			}
			button{
				background: none;
				text-indent: -2000em;
				border: 0;
				margin: 0;
				padding: 0;
			}
			@media @mobileOnly{
				text-align: center;
				padding: 5px 0;
				ul{
					.opacity(0.6);
				}
			}
		}
		
	}
	@media @mobileOnly{
		margin: 0 auto;
	}
	@media @desktopUp{
		font-size:2.0em;
		padding: 80px 0 0 0;
	}
}

.js{
	.nav-main{
		ul{
			overflow: hidden;
			li{
				button{
					width: 0; 
					height: 0; 
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-top: 5px solid #fff;
					margin-left: 15px;
					margin-bottom: 3px;
				}
				ul{
					height: 0;
				}
				&.selected{
					button{
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-bottom: 5px solid #fff;
						border-top: none;
					}
					ul{
						height: auto;
						li{
							a{
								color: #fff;
							}
							&.selected{
								a{
									color: #e9266a;
								}
							}
						}
					}
					a{
						color: #e9266a;
					}
				}
			}
		}
	}
}


// Mobile ===================================================================

