// =============================================================================
// Footer
// =============================================================================


.ft-main {
	margin:0px auto;
	text-align:left;
	padding-left:36px;
	position:relative;
	.ft-main-artscouncil {
		display:inline-block;
		width:247px;
		height:53px;
		background-image:url(img/arts-council.png);
		background-size:100%;
		text-indent:-9999px;
	}
	.ft-main-social {
		width:70%;
		position:absolute;
		right:36px;
		top:0;
		font-size:1.4em;
		li {
			float:right;
			margin-left:15px;
			text-transform:uppercase;
			font-family:"AkkuratBold";
			a {
				background-repeat:no-repeat;
				background-position: 100% 0;
				background-size: 27px 26px;
				display:inline-block;
				line-height:27px;
				&.southbank {
					display:none;
				}
				&.twitter {
					background-image:url(img/icon-twitter-colour.png);
					padding-right:36px;
				}
				&.facebook {
					background-image:url(img/icon-facebook-colour.png);
					padding-right:36px;
				}
				color:#fff;
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
	.ft-main-legal {
		font-size:1.1em;
		color:#fff;
		text-align:right;
		position:absolute;
		right:36px;
		top:42px;
		width:50%;
		font-family:AkkuratBold;
	}
}



// Mobile ===================================================================

@media @mobileOnly {
	.ft-main {
		padding-left:5%;
		.ft-main-artscouncil {
			position:static;
		}
		.ft-main-social {
			width:90%;
			padding-top:24px;
			li {
				margin-left:0;
				float:none;
				margin-bottom:12px;
				a {
					background-repeat:no-repeat;
					background-position: 0 0;
					&.southbank {
						display:block;
					}
					&.twitter, &.facebook {
						padding-left:36px;
					}
				}
			}
			position:static;
		}
		.ft-main-legal {
			width:90%;
			position:static;
		}
	}
}



// Desktop ===================================================================

@media @desktopUp {
	.ft-main {
		width:952px;
		padding-left:0;
		.ft-main-legal {
			width:60%;
			right:0;
		}
		.ft-main-social {
			right:0;
		}
	}
}