// =============================================================================
// Header
// =============================================================================

.hd-main {
	.hd-main-home {
		img{
			max-width: 100%;
		}
	}
	@media @mobileOnly {
		width: 77px;
		padding: 10px;
		margin: 0 auto;
	}
}


// Mobile ===================================================================

@media @mobileOnly {
	.hd-main {
		
		.hd-main-home {
			
		}
		.hd-main-shownav {
			position:absolute;
			top:8px;
			right:8px;
			width:42px;
			height:36px;
			padding:9px 6px;
			background-image:url(img/icon-menu.svg);
			background-position:50% 50%;
			background-size:80% auto;
			background-repeat:no-repeat;
			border:1px solid #333;
			text-indent:-9999px;
			border-radius:2px;
		}
	}
}

