.thumbnail-loading{
	margin-bottom: 3px;
	position: relative;
	img{
		position: absolute;
		top: 40%;
		left: 33%;
	}
	&.is-hidden{
		.opacity( 0 );
	}
	@media @desktopUp{
		float: left;
		width: 163px;
		height: 200px;
	}
}
.thumbnail{
	margin-bottom: 3px;
	&.selected{
		a{
			figure{
				.opacity( 1 );
			}
		}
	}
	a{
		figure{
			margin-right: 3px;
			position: relative;
			.opacity( 0.8 );
			.transition(~"opacity 0.2s ease-out");
			img{
				max-width: 100%;
			}
			figcaption{
				border-top: 1px #fff solid;
				border-bottom: 1px #fff solid;
				@media @mobileOnly{
					margin-top: 4px;
				}
				@media @desktopUp{
					margin: 4px;
					position: absolute;
					bottom: 0px;
					width: 154px;
					.opacity(0);
					.transition(~"opacity 0.4s ease-out");
				}
			}
			&.is-hidden{
				.opacity( 0 );
			}
		}
		&:hover{
			figure{
				figcaption{
					@media @desktopUp{
						.opacity(100)
					}
				}
			}
		}
	}
	p{
		font-size: 1.6em;
		margin: 0;
		line-height: 1em;
	}
	.thumbnail-title{
		font-size: 17px;
		text-transform:uppercase;
	}
	.thumbnail-desc{
		font-size: 16px;
		font-style: italic;
		text-transform:lowercase;
	}
	@media @mobileOnly{
		padding: 90px 10px 20px;
	}
	@media @desktopUp{
		float: left;
		width: 163px;
	}
}