// =============================================================================
// Layout rules for block level container elements
// =============================================================================


html {
	height:100%;
}

body {
	height:100%;
	font-size:62.5%;
	position:relative;
	overflow-x:hidden;
	background: black;
}

.cnt-mast {
	position:fixed;
	top: 0;
	left: 0;
	z-index: 100;
	@media @mobileOnly{
		width: 100%;
	}
	@media @desktopUp{
		padding: 25px 8px 15px 15px;
	}
}

.cnt-main {
	@media @desktopUp{
		margin-left: 177px;
		padding-top: 25px;
		padding-right: 15px;
		min-width: 490px;
	}
}

.cnt-footer {

}
