// =============================================================================
// Font-face definitions
// =============================================================================


// =============================================================================
// Typography defaults
// =============================================================================	

* {
	-webkit-font-smoothing : antialiased;
}

h1, h2, h3, h4, h5 {
	font-family: "Gill Sans";
	text-transform:uppercase;
	font-weight:normal;
	color:#fff;
	text-align:left;
}

p {
	font-family: "Gill Sans";
	font-size:1.3em;
	margin-bottom:1.25em;
	color:#fff;
	text-align:left;
	em, a {
		text-decoration:underline;
	}
	a:hover {
		color:#00c4fe;
	}
}


ul, ol, small {	font-family: "Gill Sans"; -webkit-font-smoothing : antialiased;}

a {text-decoration:none;}
em { font-style:normal; }
small { font-size: 85%; }

@media @mobileOnly {
	p {	font-size:1.5em; }
}




